[Unit]
Description=Stonenet Daemon
After=network-online.target
Icon=stonenet

[Install]
WantedBy=multi-user.target

[Service]
ExecStart=/usr/bin/stonenetd
StandardError=journal+console
StandardOutput=journal+console
SyslogIdentifier=stonenetd
Type=simple
User=stonenet
WorkingDirectory=/usr/share/stonenet
