<!DOCTYPE html>
<html>
	<head>
		<title>{% block title %}{% endblock title %} - Stonenet</title>
		<link rel="stylesheet" type="text/css" href="/static/css/bootstrap.min.css" media="screen" />
		<link rel="stylesheet" type="text/css" href="/static/css/main.css" />
		<script type="text/javascript" src="/static/js/bootstrap.bundle.min.js"></script>
		{% block head %}{% endblock head %}
	</head>
	<body class="container bg-dark text-light">
		{% if error %}
			<div class="alert alert-danger" role="alert">
				{{ error }}
			</div>
		{% endif %}
		{% if warning %}
			<div class="alert alert-warning" role="alert">
				{{ warning }}
			</div>
		{% endif %}
		{% if server.update_message %}
			{% if server.update_message.1 %}
				<div class="alert alert-danger" role="alert">
					A new update is available!
					Not updating may prevent you from participating in the network.
					Please {{ server.update_message.0 | safe }}.
				</div>
			{% else %}
				<div class="alert alert-warning" role="alert">
					A new update is available!
					Please {{ server.update_message.0 | safe }}.
				</div>
			{% endif %}
		{% endif %}
		<nav class="navbar navbar-expand-lg navbar-dark">
			<div class="container-fluid">
				<a class="navbar-brand" href="#">Stonenet</a>
				<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>

				<div class="collapse navbar-collapse" id="navbarSupportedContent">
					<ul class="navbar-nav me-auto mb-2 mb-lg-0">
						<li class="nav-item">
							<a class="nav-link active" aria-current="page" href="/">Home</a>
						</li>
						{% if server.is_exposed == false %}
							<li class="nav-item">
								<a class="nav-link" href="/identity">Identities</a>
							</li>
						{% endif %}
						<li>
							<a href="{{server.url_base}}/rss" target="_blank">
								<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-rss" viewBox="0 0 16 16">
									<path d="M14 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2z"/>
									<path d="M5.5 12a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0m-3-8.5a1 1 0 0 1 1-1c5.523 0 10 4.477 10 10a1 1 0 1 1-2 0 8 8 0 0 0-8-8 1 1 0 0 1-1-1m0 4a1 1 0 0 1 1-1 6 6 0 0 1 6 6 1 1 0 1 1-2 0 4 4 0 0 0-4-4 1 1 0 0 1-1-1"/>
								</svg>
							</a>
						</li>
					</ul>
				</div>
				<div class="d-flex">
					<form action="/search" method="get" class="form-inline">
						<input class="form-control" type="text" name="query" size="44" placeholder="Paste address here..." />
					</form>
				</div>
			</div>
		</nav>

		{% if server.is_exposed != true %}
			<nav class="navbar navbar-expand-lg navbar-light">
						<form action="/identity/select" method="post" class="w-100">
				<div class="container-fluid">
					<div class="row">
							<div class="col-md-3"></div>
							<div class="col-md-3">
								<label for="">Active identity:</label>
							</div>
							<div class="col-md-3">
								<div class="input-group">
									<select class="form-select form-select-sm w-50 d-inline" id="identity" name="identity">
										{% for identity in app.identities %}
                                            {% if identity.system_user == '' or identity.system_user == system_user %}
                                              <option
                                                  value="{{identity.label}}"
                                                  {% if app.active_identity and app.active_identity.0 == identity.label %} 
                                                      selected="selected"
                                                  {% endif %}
                                              >
                                                  {{identity.label}}
                                              </option>
                                            {% endif %}
										{% endfor %}
									</select>
									<button class="btn btn-secondary" type="submit">Use</button>
								</div>
							</div>
					</div>
				</div>
						</form>
			</nav>
		{% endif %}

		<div id="body" class="row">
			<div class="col col-md-3">
				{% block column_left %}{% endblock column_left %}
			</div>

			<div id="content" class="col-md-6">{% block content %}{% endblock content %}</div>
		</div>

		<script type="text/javascript" src="/static/js/bundle.js"></script>
	</body>
</html>
