<!DOCTYPE html>
<html>
	<head>
		<title>{% block title %}{% endblock title %}</title>
		<link rel="stylesheet" type="text/css" href="/static/css/base.css" media="screen" />
		{% block head %}{% endblock head %}
	</head>
	<body>
		<div class="header">
			<div class="mainmenu">
				<a href="/">Home</a>
				<a href="/my-identities">My Identities</a>
			</div>

			<div class="searchbar">
				<form action="/search" method="get">
					<input type="text" name="query" placeholder="Paste address here..." />
					<button type="submit">Go</button>
				</form>
			</div>
		</div>

		<div class="body">
			<div class="column-left">
				{% block column_left %}{% endblock column_left %}
			</div>

			<div class="content">{% block content %}{% endblock content %}</div>
		</div>
	</body>
</html>