{% extends "base" %}
{% import "macros" as macros %}
{% block title %}Home{% endblock %}

{% block column_left %}
	{{macros::post_form(title="Message", identities=identities)}}
{% endblock column_left %}

{% block content %}
	{{macros::feed(objects=objects, page=page)}}
{% endblock content %}