{% extends "base.tera" %}
{% import "macros.tera" as macros %}
{% block title %}Home{% endblock %}

{% block column_left %}
	{% if global.is_local %}
		{{macros::post_form(title="Message", identities=identities)}}
	{% endif %}
{% endblock column_left %}

{% block content %}
	{{macros::feed(objects=objects, page=page)}}
{% endblock content %}