name: MacOS

on:
  push:
    branches: [ "main", "dev" ]
  pull_request:
    branches: [ "main", "dev" ]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:
    runs-on: macos-latest

    steps:
      - name: Install Rust toolchain
        uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
      - uses: actions/checkout@v3
      - name: Run tests (debug) (broken)
        run: RUST_BACKTRACE=full RUST_LOG=debug cargo test --verbose
        continue-on-error: true
      - name: Run tests (release) (broken)
        run: RUST_BACKTRACE=full RUST_LOG=debug cargo test --verbose --release
        continue-on-error: true
      - name: Install Nix
        uses: cachix/install-nix-action@v31
      - name: Build with Nix (broken)
        run: sudo nix --extra-experimental-features 'nix-command flakes' build
        continue-on-error: true
