name: Rust

on:
  push:
    branches: [ "main", "dev" ]
  pull_request:
    branches: [ "main", "dev" ]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - name: Run tests (debug)
      run: RUST_BACKTRACE=full RUST_LOG=debug cargo test --verbose
    - name: Run tests (release)
      run: RUST_BACKTRACE=full RUST_LOG=debug cargo test --verbose --release
    - name: Install Nix
      run: sudo apt-get install -y nix-bin
    - name: Build with Nix
      run: nix build
